*
{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    background-color: #000000f2;
}
#sideBar
{
    position: fixed;
    top: 0;
    left: -240px;
    height: 100vh;
    z-index: 10;
}
.strip-header-nav {
    position: relative;
    width: 60px;
    height: 100%;
    float: left;
    background-color: #f8f6f6;
    text-align: center;
    transition: all 0.6s ease;
}
.strip-logo {
    padding: 25px 0;
}
.strip-logo img {
    height: 48px;
}
.strip-toggel-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.strip-toggel-menu i {
    font-size: 25px;
}
.strip-social-icon {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
 
}
.strip-social-icon i{

    padding-top: 14px;
}
.nav-tab-menu {
    float: left;
    position: relative;
    width: 240px;
    height: 100%;
    background-color: #000;
    transform: translateX(-100%);
    transition: all 0.6s ease;
}
.open-menu {
    transform: scale(1) !important;
}
.nav-tab-menu ul li a {
    color: #f9f6f6;
    font-weight: 500;
    font-size: 16px;
}
li {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}
i {
    cursor: pointer;
}
.nav-social-item a {
    
    color: #f9f6f6;
    padding-left: 15px;
    font-size: 14px;
}
.nav-social-item {
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.nav-social-item span {
    color: #999;
}
.nav-tab-menu ul li a:hover, .nav-social-item a:hover {
    color: #ff655c;
    transition: all 0.3s;
}
.form-control {
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.7);
    border-radius: 0;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}
.form-control:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.7);
    border-radius: 0;
} 
.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255,.7);
    text-align: center;
    color: #000;
    font-weight: 800;
    transition: all 1s;
}
.movie:hover .layer {
    top: 0;
    transition: all 1s;
}
.movie {
    overflow: hidden;
}
